<h1 class="profile_heading">edit post</h1>

<div class="profile_details">
<form action="/posts/<%=post['id']%>" method="post">
<input type="hidden" name="_method" value="patch">

    <label for="">Woof!</label>
    <input type="text" name="post_text" value="<%=post['post_text']%>" style='width:100%'>
    <br>
    <label for="">Image:</label>
    <input type="text" name="image" value="<%=post['image']%>" style='width:100%'>
    <br>
    <label for="">Feeling:</label>
    <input type="hidden" name="feeling" value="<%=post['feeling']%>" style='width:100%'>
    <select id="" name="feeling">
        <option type=text value="&#x1F600">&#x1F600;</option>
        <option type=text value="&#x1F60D">&#x1F60D;</option>
        <option type=text value="&#x1F61B">&#x1F61B;</option>
        <option type=text value="&#x1F918">&#x1F918;</option>
        <option type=text value="&#x1F60E">&#x1F60E;</option>
        <option type=text value="&#x1F62B">&#x1F62B;</option>
        <option type=text value="&#x1F640">&#x1F640;</option>
        <option type=text value="&#x1F62D">&#x1F62D;</option>
        <option type=text value="&#x1F415">&#x1F415;</option>
        <option type=text value="&#x1F43E">&#x1F43E;</option>
    </select>
    <br>
    <button class="login_button right_align_button">Update</button>
</form>
</div>