<h1>edit post</h1>

<form action="/posts/<%=post['id']%>" method="post">
<input type="hidden" name="_method" value="patch">

    <label for="">Woof!</label>
    <input type="text" name="post_text" value="<%=post['post_text']%>">

    <label for="">image</label>
    <input type="text" name="image" value="<%=post['image']%>">

    <label for="">feeling</label>
    <input type="hidden" name="feeling" value="<%=post['feeling']%>">
    <select id="" name="feeling">
        <option type=text value="&#x1F600">&#x1F600;</option>
        <option type=text value="&#x1F60D">&#x1F60D;</option>
        <option type=text value="&#x1F61B">&#x1F61B;</option>
        <option type=text value="&#x1F918">&#x1F918;</option>
        <option type=text value="&#x1F60E">&#x1F60E;</option>
        <option type=text value="&#x1F62B">&#x1F62B;</option>
        <option type=text value="&#x1F640">&#x1F640;</option>
        <option type=text value="&#x1F62D">&#x1F62D;</option>
        <option type=text value="&#x1F415">&#x1F415;</option>
        <option type=text value="&#x1F43E">&#x1F43E;</option>
    </select>

    <button>update</button>
</form>