<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WOOFR</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1 class="heading">WOOFR</h1>
<h2 class="subheading">Twitter for dogs</h2>
<a href="/" class="nav">Home</a>
<a href="/about" class="nav">About</a>

<% if logged_in? %>
  <a href="/profile/<%= current_user()['id'] %>" class="nav">Profile</a>
<% end %>

<br>
<br>

<% if logged_in? %>
  <img class="icon_img" src="<%= current_user()['icon'] %>" alt="">
  logged in as <%= current_user['name'] %> 
  <br>
  <br>

  <form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>log out</button>
  </form>

  <br>

  <% end %>

  <%= yield %>

</body>
<footer>
Created by Aden &copy; 2020 
</footer>
</html>