<h1>login</h1>

<form action="/login" method="post">

<label for="">email</label>
<input type="email" name="email" id="">

<label for="">password</label>
<input type="password" name="password_digest" id="">

<button>Log In!</button>
</form>

<h1>sign up</h1>

<form action="/signup" method="post">

<label for="">name</label>
<input type="text" name="name" id="">

<label for="">email</label>
<input type="email" name="email" id="">

<label for="">password</label>
<input type="password" name="password_digest" id="">

<button>Sign Me Up!</button>
</form>


<% if display_error %>
    <%= error_message %>
<% end %>