<h1>Post a new Woof!</h1>

<form action="/create" method="post">
    <label for="">Woof!</label>
    <input type="text" name="post_text">

    <label for="">image</label>
    <input type="text" name="image">

        <label for="">feeling</label>
    <input type="text" name="image_url">
    
    <button>create</button>
</form>