<h1 class="profile_heading">Post a new Woof!</h1>

<div class="profile_details">
<form action="/posts" method="post">
    <label for="">Woof!</label>
    <input type="text" name="post_text" style="width: 100%">
<br>
    <label for="">Image:</label>
    <input type="text" name="image" style="width: 100%">
<br>
    <label for="">Feeling</label>
    <input type="hidden" name="feeling" style="width: 100%">
    <select id="" name="feeling">
        <option type=text value="&#x1F600">&#x1F600;</option>
        <option type=text value="&#x1F60D">&#x1F60D;</option>
        <option type=text value="&#x1F61B">&#x1F61B;</option>
        <option type=text value="&#x1F918">&#x1F918;</option>
        <option type=text value="&#x1F60E">&#x1F60E;</option>
        <option type=text value="&#x1F62B">&#x1F62B;</option>
        <option type=text value="&#x1F640">&#x1F640;</option>
        <option type=text value="&#x1F62D">&#x1F62D;</option>
        <option type=text value="&#x1F415">&#x1F415;</option>
        <option type=text value="&#x1F43E">&#x1F43E;</option>
    </select>

    <input type="hidden" name="date_created" value=<%= Time.now.strftime("%d-%m-%Y") %>>
    <input type="hidden" name="time_created" value=<%= Time.now.strftime("%k:%M%p") %>>
    <br>
    <button class="login_button">Woof Woof!</button>
</form>
</div>