* {
    font-family: 'Indie Flower', cursive;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url("/stylesheets/dog-bg.jpg");
    background-size: 300px;
    background-repeat: repeat-x;
    background-color: white;
}

.heading {
    font-family: 'Bungee Shade', cursive;
    font-size: 120px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
    margin-right: 150px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.subheading {
    padding-bottom: 30px;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 30px;
}

.nav {
    margin-left: 30px;
}

.login {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login_email {
    padding: 10px 20px 10px 0;
    font-size: 20px;
}

.email_input {
    margin-left: 40px;
    font-size: 20px;
}

.name_input {
    margin-left: 37px;
    font-size: 20px;
}

.login_password {
    padding: 10px 20px 20px 0;
    font-size: 20px;
}

.password_input {
    font-size: 20px;
}

.login_button {
    font-size: 22px;
    border-radius: 5px;
    background-color: rgba(232, 237, 223, 1);
}

.login_button:hover {
    font-size: 22px;
    color: rgba(207, 219, 213, 1);
    font-weight: bold;
    border: 2px solid black;
    background-color: rgba(51, 53, 51, 1);
}

.login_form {
    background-color: rgba(245, 203, 92, 1);
    padding: 0 0 15px 50px;
}

.about {
    padding: 30px;
    font-size: 20px;
    background-color: rgba(245, 203, 92, 1);
}

.button {
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: rgba(232, 237, 223, 1);
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: rgba(51, 53, 51, 1);
    color: rgba(207, 219, 213, 1);
}

.loggedin {
    margin: 20px 0 0 32px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.loggedin-wrap {
    background-color: rgba(245, 203, 92, 1);
    border-radius: 5px;
    height: 60px;
}

.logout_button_wrap {
    padding-right: 30px;
}

.loggedin_text {
    display: inline;
    margin: auto auto auto 10px;
}

.loggedin_img_text {
    display: flex;
    height: 60px;
}

.error {
    font-size: 20px;
}

.logout_button {
    font-size: 20px;
    background-color: rgba(232, 237, 223, 1);
    border-radius: 5px;
    margin: 10px 0 10px 0;
    width: 70px;
}

.logout_button:hover {
    background-color: rgba(51, 53, 51, 1);
    font-weight: bold;
    border: 2px solid black;
    color: rgba(207, 219, 213, 1);
    cursor: pointer;
}

.icon_img {
    width: 10%;
    border-radius: 5px;
    object-fit: cover;
}

.new_post_button {
    text-decoration: none;
    font-size: 30px;
    background-color: rgba(232, 237, 223, 1);
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: 30px;
    width: 250px;
}

.new_post_button:hover {
    background-color: rgba(51, 53, 51, 1);
    font-weight: bold;
    border: 2px solid black;
}

.new_post_button:hover a {
    color: rgba(207, 219, 213, 1);
}

.newsfeed_heading {
    font-size: 25px;
    padding-left: 30px;
}

.image {
    border-radius: 5px;
    margin: 30px 0 10px 30px;
}

.post_text {
    margin: 0 0 0px 30px;
    font-size: 20px;
}

.feeling_text {
    margin: 0 0 10px 30px;
    font-size: 20px;
}

img {
    width: 200px;
}

.individual_posts {
    background-color: rgba(245, 203, 92, 1);
    border-radius: 5px;
}

.details_wrap {
    margin-top: 30px;
    background-color: rgba(245, 203, 92, 1);
    border-radius: 5px;
}

.details_buttons_wrap {
    display: flex;
    justify-content: space-around;
}

.details_buttons {
    font-size: 15px;
    color: black;
    background-color: rgba(232, 237, 223, 1);
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: 7px 10px 10px 30px;
    text-align: center;
}

.edit_button_styling {
    margin: auto;
}

.details_buttons a {
    width: 100px;
}

.details_buttons button {
    width: 200px;
}

.details_buttons:hover {
    background-color: rgba(51, 53, 51, 1);
    font-weight: bold;
    color: rgba(207, 219, 213, 1);
    cursor: pointer;
}

.details_buttons:hover a {
    color: rgba(207, 219, 213, 1);
}

.post_wrap {
    background-color: rgba(232, 237, 223, 1);
    border: 2px dotted rgba(51, 53, 51, 1);
    padding: 0 5px 0 5px;
    border-radius: 5px 5px 0 0;
}

.postedby_wrap {
    display: flex;
    height: 50px;
}

.postedby_text_wrap {
    display: flex;
}

.img_max_width {
    max-width: 50px;
}

.icon_max_width {
    max-width: 200px;
}

.link_wrap {
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.postedby_text {
    margin-left: 10px;
}

.comments_wrap {
    background-color: rgba(232, 237, 223, 1);
    padding-bottom: 40px;
    border-radius: 5px;
}

.comments {
    margin: 30px 10px 10px 30px; 
    font-size: 20px;
}

.individual_comment {
    display: flex; 
    margin: 10px 10px 10px 30px;
}

.createnew_comment {
    margin: 10px 10px 10px 30px;
}

.comment_buttons_wrap {
    display: flex; 
}

.comment_buttons {
    font-size: 15px;
    background-color: rgba(239, 239, 239, 1);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: auto 10px auto auto;
    width: auto;
}

.comment_buttons:hover {
    background-color: rgba(51, 53, 51, 1);
    font-weight: bold;
    color: rgba(207, 219, 213, 1);
    cursor: pointer;
}

.comment_buttons:hover a {
    color: rgba(207, 219, 213, 1);
}

.comment_buttons button {
    margin: auto auto auto auto;
}

.comment_text {
    margin: auto auto auto 10px;
}

form {
    margin: auto 10px auto auto;
}

.profile_heading {
    padding-left: 30px;
}

.profile_details_no_button {
    background-color: rgba(245, 203, 92, 1);
    padding: 10px 0 20px 30px;
    font-size: 17px;
}

.profile_details {
    background-color: rgba(245, 203, 92, 1);
    padding: 10px 0 50px 30px;
    font-size: 17px;
}

.name_label {
    padding-right: 17px;
}

.email_label {
    padding-right: 23px;
}

.icon_label {
padding-right: 33px;
}

.bio_label {
    padding-right: 36px;
}

input {
    display: inline;
}

.right_align_button {
    float: right;
}

.button_padding {
    margin: 0 10px 0 20px;
    background-color: rgba(239, 239, 239, 1);
}

.padding_left {
    padding-left: 30px;
    font-size: 14px;
}