* {
    font-family: 'Indie Flower', cursive;
    box-sizing: border-box;
}

body {
    background-image: url("/stylesheets/dog-bg.jpg");
    background-size: 300px;
    background-repeat: repeat-x;
    background-color: white;
}

.heading {
    font-family: 'Bungee Shade', cursive;
    font-size: 120px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 20px;
    margin-right: 150px;
}

.icon_img {
    width: 5%;
    border-radius: 5px 20px 5px;
}

.subheading {
padding-bottom: 30px;
}

.nav {
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    padding: 5px;
}

.nav:hover {
    background-color: rgba(249, 225, 79, 1)
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 200px;
}

.individual_posts {
    border-bottom: 2px dashed black;
}